<!DOCTYPE html>
<html>
<head>
    <title>Covid Visual</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
</head>
<body>
    <div style="text-align: center;">
        <h1>Covid 19 Visualizer</h1>
    </div>
    <table id="example" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Country</th>
                <th>Confirmed Cases</th>
                <th>Active Cases</th>
                <th>Deaths</th>
                <th>Recovered</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for each in results %}
            <tr>
                <td>{{ each['country'] }}</td>
                <td>{{ each['confirmed'] }}</td>
                <td>{{ each['active'] }}</td>
                <td>{{ each['deaths'] }}</td>
                <td>{{ each['recovered'] }}</td>
                <td>{{ date }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Country</th>
                <th>Confirmed Cases</th>
                <th>Active Cases</th>
                <th>Deaths</th>
                <th>Recovered</th>
                <th>Date</th>
            </tr>
        </tfoot>
    </table>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function() {
        $('#example').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        } );
    } );
    </script>
</body>
</html>